* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
}

body {
  margin: 0;
}

.container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lotto {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  width: 600px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lotto__num {
  font-size: 0.75em;
  color: white;
  background-color: #c01513;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lotto__num:nth-child(2) {
  background-color: #4f9810;
}
.lotto__num:nth-child(3) {
  background-color: #3b41a7;
}
.lotto__num:nth-child(4) {
  background-color: #b60e43;
}
.lotto__num:nth-child(5) {
  background-color: #10c0bf;
}
.lotto__num:nth-child(6) {
  background-color: #651984;
}

button {
  font-size: 0.5em;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #f06464;
  margin-top: 20px;
  cursor: pointer;
}

button:active {
  transform: scale(1.05);
}
