* {
  box-sizing: border-box;
  font-size: 1.1rem;
}
body {
  margin: 0;
  background-color: #1e3269;
  color: white;
}
.flex {
  display: flex;
}
.container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title {
  font-size: 2.5rem;
}
.form__box {
  margin: auto;
}
.input__form {
  flex-direction: column;
  padding: 0;
  margin: 10px;
}
.input__num {
  width: 250px;
  height: 40px;
  margin: 0 10px;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfeild;
}

.input__btn {
  width: 130px;
  height: 40px;
  margin: 0 10px;
}
.retry__btn {
  width: 250px;
  height: 40px;
  margin: 30px auto;
  display: none;
}
.hint {
  display: none;
}
