* {
    color: #0b151d;
}

html {
    background-color: #e7dae7;
    height: 100%;
}

body {
    background-color: #c4afde;
    background-clip: content-box;
    border: 2px solid #3e3d51;
    border-radius: 1.25rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh auto 10vh;
}

.title {
    margin-top: 50px;
    font-size: 35px;
}

.signup {
    text-align: center;
}

.signup-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.user_info, .phone, .location{
    text-align: left;
    width: 30vw;
    height: 35px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 1px;
    font-size: 15px;
}

.phone {
    width: 7vw;
    text-align: center;
}

.gender {
    margin-bottom: 15px;
}

.gender input {
    width: 20px;
    margin-bottom: 30px;
}

.sign-button {
    width: 150px;
    height: 50px;
    background-color: #80768d;
    border-radius: 70px;
    margin-bottom: 50px;
    border: none;
    box-shadow: 0px 0px 3px 1px ;
    font-size: 20px;
}

.sign-button:hover {
    background-color:#c4afde;
}