:root {
  --color1: #cad7ed;
  --color2: #909ce7;
  --color3: #535a8b;
  --color4: #1e2038;
  --color5: #120907;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color1);
}
.flex {
  display: flex;
}
.container {
  margin: auto;
  width: 25rem;
  height: 31rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
  border-radius: 10px;
}
h1 {
  color: var(--color1);
}
tr {
  width: 90%;
}
.result {
  width: 100%;
  height: 70px;
  background-color: var(--color2);
  border: none;
  border-radius: 10px;
  outline: none;
  text-align: right;
}
button {
  background-color: var(--color1);
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1px 1px;
}
